*{
  padding: 0;
  margin-left: 1%;
  margin-right: 1%;
  box-sizing: border-box;
  background-color: darkgrey;
}



header{
width: 100%;
padding-bottom: 50px;
justify-content: space-evenly;
text-align: center;
}

footer{
  width: 100%;
  padding-top: 50px;
  text-align: center;
  color: teal;
  }

header h1{
  color:teal;
}

header p{
  color: whitesmoke;
}


.container{
display: grid;
width: 100%;
grid-template-columns: 50% 50%;
justify-content: center;
}

.item{
  text-align: left;
  word-wrap: break-word;
  overflow-wrap: break-word;
  padding: 20px;
  border: dashed whitesmoke;
  margin: 10px 10px 10px 10px;
}

.card-header {
  position: relative;
  margin-top: -50px;
  border: solid whitesmoke;
}



.code-card code{
  display: block;
  max-width: 90%;
padding-top: 50px;
padding-bottom: 50px;
background-image: linear-gradient(rgba(2, 75, 75, 0),teal);
}



